<!--     <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  <script>
  CKEDITOR.replace('editor1');
  </script> -->
<div>
    <header id="main-header" class="bg-primary text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1> <a id="adminhome" href="go('/adminhome')"><i class="fa fa-user"></i>  LearnPlat Admin</a></h1>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <button ng-show="adminReg" class="btn btn-success pt-5 mt-5 btn-lg" ng-click=adminRegister()>Register New Admin</button>
              <button ng-show="adminLogin" class="btn btn-success pt-5 mt-5 btn-lg" ng-click="go('/adminuser')">Admin Login</button>
              <button ng-show="outBtn" ng-click="go('/adminsignout')" class="btn btn-success pt-5 mt-5 btn-lg">Sign out</button>
            </div>
          </div>
        </div>
      </header>

    <!-- <div class="col-md-2 col-lg-2"></div> -->
    <div class="container">
        <!--container-->
        <div class=""><h2>{{title}}</h2><br><hr>
        <h3 class="text-center">{{info}}</h3>
        <form name="addQuestForm" ng-submit="checkSendData()">

            <h2  style="color: #000000;">Add Question</h2>
            <p style="color: blue">check the correct answer</p>         
            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Question</label><br>
                <textarea type="text" class="form-control" cols="30" rows="10" name="editor1" class="input-block-level" placeholder="Question" ng-model="question.q"  required></textarea>
                <script>
                  CKEDITOR.replace('editor1');
                  </script>
            </div>
            <div class="form-group bg-faded p-3">
                <label for="file" class="form-control-label">Image Upload (Optional)</label>
                <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="1MB" required ngf-model-invalid="errorFile">
                  <i ng-show="addQuestForm.file.$error.required"></i><br>
                  <i ng-show="addQuestForm.file.$error.maxSize">File too large 
                      {{errorFile.size / 1000000|number:1}}MB: max 1M</i>
                  <img ng-show="addQuestForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                  <br>
                  <!-- <button ng-disabled="!myForm.$valid" 
                          ng-click="uploadPic(picFile)">Submit</button> -->
                  <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%" 
                        ng-bind="picFile.progress + '%'"></div>
                  </span>
                  <span ng-show="picFile.result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </div>

            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Question Name</label><br>
                <input type="text" class="input-block-level" placeholder="Question name" ng-model="question.q_name" ng-minlength="4" required>
            </div>

            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Answer 1</label><br>
                <input type="radio" ng-model="question.r_a" value="a1">
                <input type="text" class="form-control input-block-level" placeholder="Answer 1" ng-model="question.a1"  required>
            </div>

            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Answer 2</label><br>
                <input type="radio"  ng-model="question.r_a" value="a2">
                <input type="text" class="form-control input-block-level" placeholder="Answer 2" ng-model="question.a2"   required>
            </div>

            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Answer 3</label><br>
                <input type="radio" ng-model="question.r_a" value="a3">
                <input type="text" class="form-control input-block-level" placeholder="Answer 3" ng-model="question.a3"   required>
            </div>

            <div class="form-group bg-faded p-3">
                <label for="Question" class="form-control-label">Answer 4</label><br>
                <input type="radio" ng-model="question.r_a" value="a4">
                <input type="text" class="form-control input-block-level" placeholder="Answer 4" ng-model="question.a4"  required>
            </div>
          <span style="color: red">{{error}}</span>
          <span style="color: green">{{success}}</span><br>


            <button class="btn btn-large btn-success" type="submit" ng-click="uploadPic(picFile)" ng-model="submit" ng-disabled="!addQuestForm.$valid">Add Question</button>

        </form>
        </div>

    </div><!--container-->
    <br><hr>

    <!-- <div class="col-md-2 col-lg-2"></div> -->
</div>

