<div>
		<div class="row">
			<div class="col-md-3">
				<div class="card p-3" style="width: 18rem;">
		            <div class="card-header">
		              Explore
		            </div>
		            <ul class="list-group list-group-flush">
		              <li class="list-group-item"><a href="" ng-click="go('/test')">Take Test</a></li>
		              <li class="list-group-item"><a href="" ng-click="go('/result')">View Result</a></li>
		              <li class="list-group-item"><a href="" ng-click="go('/')">Learn</a></li>
		            </ul>
		          </div>
					</div>
			<div class="col-md-7">
				<div class=""><h3>	Welcome to a Live Tutorial From LearnPlat	</h3></div>
				<div ng-show="live"><br><br>
						<div class="row">
						<div class="col">
						<canvas id="video-canvas" height="300" width="600"></canvas><br>
					</div>
					</div><br>
					<div class="row">
						<div class=" mr-5 ml-5 pr-5" >
						<button class="btn btn-outline-success" id="stopButton">Stop</button>
						</div>
						<div class="ml-5 pl-5 ">
							<button class="btn btn-outline-success" id="wsButton">Play</button>
						</div>
					</div>
				</div><br><br>	
				<div ng-show="noLive"><p class="lead">	Please Sign In to view Live Tutorial</p></div>
			</div>
		</div>
</div>


