<div>
		<div class="row">
			<div class="col-md-3">
				<div class="card p-3" style="width: 18rem;">
		            <div class="card-header">
		              Discover
		            </div>
		            <ul class="list-group list-group-flush">
		              <li class="list-group-item"><a href="" ng-click="go('/test')">Take Test</a></li>
		              <li class="list-group-item"><a href="" ng-click="go('/result')">View Result</a></li>
		              <li class="list-group-item"><a href="" ng-click="go('/')">Learn</a></li>
		            </ul>
		          </div>
					</div>
			<div class="col-md-7">
				<div class=""><h3>	Welcome to a Live Tutorial From LearnPlat	</h3></div>
				<div ng-show="live"><br><br>
				<canvas id="video-canvas" height="300" width="600"></canvas><br>
					<!-- <script type="text/javascript">
						var canvas = document.getElementById('video-canvas');
						var url = 'ws://'+document.location.hostname+':8082/';
						var player = new JSMpeg.Player(url, {canvas: canvas});
					</script> -->
					<div>
						<button class="btn btn-primary-outline" id="stopButton">Stop</button>
					<button class="btn btn-primary-outline ml-auto" id="wsButton">Play</button>
					</div>
				</div><br><br>	
				<div ng-show="noLive"><p class="lead">	Please Sign In to view Live Tutorial</p></div>
			</div>
		</div>
</div>


