<div id="jumbotronId">


        <div class="jumbotron" >
            <div class="container">
                <h1>Welcome!</h1>
                <p>This is a E-Learning platform for registered students to learn and take practice test in prep for major exams.</p>
                <p><a ng-click="go('/')" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                    <h2>Learn</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, laudantium iure molestias repudiandae laboriosam inventore id magni ducimus, pariatur provident magnam tempore excepturi ab sequi quas placeat quaerat fuga est! </p>
                    <p><a class="btn btn-default" ng-click="go('/')">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Take Test</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur est beatae ratione eveniet, sequi saepe accusantium eaque illum incidunt et repudiandae esse pariatur possimus enim, unde quisquam quae? Neque!</p>
                    <p><a class="btn btn-default" ng-click="go('/')">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>View Result</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo similique dolorem et dolorum dolor ipsam sequi aut reprehenderit? Nihil aliquid soluta, delectus dignissimos atque veniam veritatis! Sed, doloribus, quos.</p>
                    <p><a class="btn btn-default" ng-click="go('/')">View &raquo;</a></p>
                </div>
            </div>

            <hr>
<!-- 
            <footer>
                <p>&copy; Dapo Aderemi 2018</p>
            </footer> -->
        </div> <!-- /container -->